<template>
  <v-empty-state
    v-if="!store.cart?.length"
    image="/images/states/62.svg"
    title="Carrito vacío"
    text="Agrega productos para continuar."
  />
  <v-container v-else>
    <v-row>
      <v-col cols="12">
        <h4 class="text-h4">
          Carrito de compras
        </h4>
      </v-col>
    </v-row>

    <v-row justify="center">
      <v-col cols="12" lg="10">
        <v-stepper
          v-model="step"
          alt-labels
          flat
        >
          <v-stepper-header flat tile>
            <v-stepper-item
              title="Resumen de compra"
              :value="1"
              :complete="step > 1"
            />

            <v-divider></v-divider>

            <v-stepper-item
              title="Dirección de entrega"
              :value="2"
              :complete="step > 2"
            />

            <v-divider></v-divider>

            <v-stepper-item
              title="Método de Pago"
              :value="3"
            />
          </v-stepper-header>

          <v-stepper-window>
            <v-stepper-window-item :value="1">
              <ProductPreview
                v-for="product in store.cart"
                :key="product.id"
                :product="product"
              />
            </v-stepper-window-item>

            <v-stepper-window-item :value="2">
              <v-card>
                <v-card-title>
                  Dirección de entrega
                </v-card-title>

                <v-card-text>
                  <v-empty-state
                    v-if="!auth.shippingAddresses?.length"
                    image="/images/states/39.svg"
                    title="No hay direcciones de entrega"
                    text="Agrega una dirección de entrega para continuar."
                  >
                    <template #actions>
                      <v-btn
                        flat
                        :to="{ name: 'profile' }"
                      >
                        Agregar dirección
                      </v-btn>
                    </template>
                  </v-empty-state>
                  <ValidatedSelect
                    v-else
                    v-model="auth.shippingAddress"
                    :items="auth.shippingAddresses"
                    label="Dirección de entrega"
                    name="shipping_address"
                    rules="required"
                    return-object
                  />

                  <ShippingAddressDetails
                    v-if="auth.shippingAddress?.id"
                    v-model="auth.shippingAddress"
                  />
                </v-card-text>
              </v-card>
            </v-stepper-window-item>

            <v-stepper-window-item :value="3">
              <div
                id="stripe-wrapper"
                class="px-2"
              />

              <v-card-actions>
                <span>
                  <span class="font-weight-bold">
                    Total:
                  </span>

                  <span>
                    {{ store.cartTotal.toCurrency() }}
                  </span>
                </span>

                <v-spacer />

                <span>
                  <span class="font-weight-bold">
                    Cantidad de productos:
                  </span>

                  <span>
                    {{ store.cartProductsCount }}
                  </span>
                </span>

                <v-spacer />

                <v-btn
                  color="primary"
                  variant="elevated"
                  prepend-icon="mdi-cart"
                  size="lg"
                  class="py-2 px-4"
                  flat
                  :disabled="store.loading"
                  :loading="store.loading"
                  @click="checkout"
                >
                  Proceder con la compra
                </v-btn>
              </v-card-actions>
            </v-stepper-window-item>
          </v-stepper-window>

          <v-stepper-actions
            :disabled="disabled"
            @click:next="nextStep"
            @click:prev="prevStep"
          ></v-stepper-actions>
        </v-stepper>
      </v-col>
    </v-row>
  </v-container>
</template>
<script setup>
import ShippingAddressDetails from '@/components/ShippingAddressDetails.vue';
import { loadStripe } from '@stripe/stripe-js';
import ProductPreview from '@/components/ProductPreview.vue';
import { useAuthStore, useProductStore } from '@/store';
import { computed, onBeforeMount, onMounted, ref } from 'vue';
import { useTheme } from 'vuetify';l
const { global: { current: { value: theme } } } = useTheme();
const store = useProductStore();
const auth = useAuthStore();
const step = ref(1);

const stripe = ref();
const elements = ref();
const intent = ref();
const stripeElement = ref();
const stripeKey = import.meta.env.VITE_STRIPE_KEY;
const disabled = computed(() => step.value === 1 ? 'prev' : step.value === 3 ? 'next' : undefined);

async function nextStep() {
  step.value++;
  if (step.value == 3) {
    if (!intent.value) {
      intent.value = await store.fetchIntent({
        amount: store.cartTotal,
        currency: 'MXN',
      });

      console.log(theme.colors);
      if (intent.value) {
          elements.value = stripe.value.elements({
            clientSecret: intent.value.client_secret,
            appearance: {
              theme: 'stripe',
              variables: {
                colorPrimary: theme.colors.primary,
                colorBackground: theme.colors.background,
                colorDanger: theme.colors.error,
                borderRadius: '5px',
              },
            },
          });

          stripeElement.value = elements.value.create('payment', {
            layout: 'tabs',
            defaultValues: {
              billingDetails: {
                name: auth.user.name,
                email: auth.user.email,
              },
            },
          });

          stripeElement.value.mount('#stripe-wrapper');
      }
    }
  }
}

function prevStep() {
  step.value--;
}

async function checkout() {
  await store.checkout(stripe.value, elements.value);
}

onBeforeMount(async () => {
  stripe.value = await loadStripe(stripeKey);
});
</script>
<style lang="scss" scoped>
.v-empty-state {
  height: 400px !important;
}
</style>
