<template>
  <v-empty-state
    image="/images/states/20.svg"
    title="Boto Shopping"
    text="Bienvenido/a a su panel de control."
  >
    <template #actions>
      <v-btn
        class="mx-auto my-4 px-4"
        prepend-icon="mdi-package-variant-closed"
        :to="{ name: 'dashboard.products' }"
      >
        Productos
      </v-btn>

      <v-btn
        class="mx-auto my-4 px-4"
        prepend-icon="mdi-package-variant-closed"
        :to="{ name: 'dashboard.products' }"
      >
        Compras
      </v-btn>
    </template>
  </v-empty-state>
</template>
