<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12">
        <h4 class="text-h4">
          Tienda
        </h4>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12">
        <v-text-field
          v-model="filter.search"
          label="Buscar productos"
          variant="outlined"
          density="compact"
          hide-details
          clearable
        />
      </v-col>
      <v-col
        cols="12"
        md="6"
        lg="8"
      >
        <p>
          Categorías
        </p>
        <v-chip-group
          v-model="filter.categories"
          item-value="id"
          multiple
          color="primary"
        >
          <v-chip
            v-for="category in store.categories"
            :key="category.id"
            class="ma-2"
            color="primary"
            label
            filter
            rounded
            :text="category.name"
          />
        </v-chip-group>
      </v-col>
      <v-col
        cols="12"
        md="6"
        lg="4"
      >
        <p>
          Marcas
        </p>
        <v-chip-group
          v-model="filter.brands"
          item-value="id"
          multiple
          color="primary"
        >
          <v-chip
            v-for="brand in store.brands"
            :key="brand.id"
            class="ma-2"
            color="primary"
            label
            filter
            rounded
            :text="brand.name"
          />
        </v-chip-group>
      </v-col>
    </v-row>
    <v-empty-state
      v-if="!filteredProducts.length"
      image="/images/states/50.svg"
      title="No se encontraron productos"
      text="Intenta con otra búsqueda"
      style="height: calc(100vh - 300px)"
    />
    <v-row v-else>
      <v-col
        v-for="product in filteredProducts"
        :key="product.id"
        cols="12"
        sm="6"
        md="4"
        lg="3"
        xl="2"
      >
        <ProductCardVertical :product="product" />
      </v-col>
    </v-row>
  </v-container>
</template>
<script setup>
import ProductCardVertical from '@/components/ProductCardVertical.vue';
import { computed, onMounted, reactive } from 'vue';
import { useProductStore } from '@/store';

const store = useProductStore();
const filter = reactive({
  brands: [],
  categories: [],
  search: null,
});

const filteredProducts = computed(() => {
  let { products } = store;

  if (filter.search) {
    products = products.filter(p => {
      const contained = p.name.toLowerCase().includes(filter.search.toLowerCase());
      const contains = filter.search.toLowerCase().includes(p.name.toLowerCase());

      return contained || contains;
    });
  }

  if (filter.categories.length) {
    products = products.filter(p => {
      return filter.categories.includes(p.category_id);
    });
  }

  if (filter.brands.length) {
    products = products.filter(p => {
      return filter.brands.includes(p.brand_id);
    });
  }

  return products;
});

onMounted(async () => {
  await store.fetchAll();
});
</script>
