<template>
  <v-container fluid>
    Current collection: {{ store }}
  </v-container>
</template>
<script setup>
import { useRoute } from 'vue-router';
import { computed } from 'vue';

const route = useRoute();
const store = computed(() => route.params.store);
</script>