<template>
  <VeeForm
    v-slot="{ meta: { valid, dirty } }"
    slim
  >
    <v-navigation-drawer
      :model-value="visible"
      location="right"
      width="400"
      temporary
      persistent
    >
      <template #prepend>
        <v-card-actions>
          <v-card-title>
            {{ title }}
          </v-card-title>
          <v-spacer />
          <v-icon
            icon="mdi-close"
            @click="onCancel(dirty)"
          />
        </v-card-actions>
      </template>

      <v-container v-if="modelValue">
        <slot />
      </v-container>

      <template #append>
        <v-card-actions>
          <v-btn
            v-if="modelValue?.id > 0 && deletable"
            icon="mdi-delete"
            color="error"
            @click="onDestroy"
          />
          <v-btn
            v-if="modelValue?.id > 0 && clonable"
            icon="mdi-content-copy"
            color="info"
            @click="onClone"
          />
          <v-spacer />
          <v-btn
            color="default"
            @click="onCancel(dirty)"
          >
            Cancel
          </v-btn>
          <v-btn
            color="primary"
            :disabled="!valid || !dirty"
            @click="onSave"
          >
            Guardar
          </v-btn>
        </v-card-actions>
      </template>
    </v-navigation-drawer>
  </VeeForm>

  <!-- Delete Confirm -->
  <ConfirmationDialog
    v-model="dialogs.delete"
    title="Eliminar elemento"
    message="Este elemento se eliminará permanentemente. ¿Está seguro?"
    dense
    @cancel="dialogs.delete = false"
    @accept="onAcceptDelete"
  />

  <ConfirmationDialog
    v-model="dialogs.confirmation"
    title="Cerrar formulario"
    message="¿Está seguro de cerrar el formulario sin guardar los cambios?"
    dense
    @cancel="dialogs.confirmation = false"
    @accept="onAcceptCancel"
  />
</template>
<script setup>
import ConfirmationDialog from '@/components/ConfirmationDialog.vue';
import { computed, reactive } from 'vue';

const emit = defineEmits(['cancel', 'clone', 'delete', 'save', 'update:modelValue']);
const props = defineProps({
  modelValue: { type: Object, default: null },
  title: { type: String, default: 'Form' },
  deletable: { type: Boolean, default: false },
  clonable: { type: Boolean, default: false },
});

const visible = computed(() => !!props.modelValue);

const dialogs = reactive({
  delete: false,
  confirmation: false,
});

function onCancel(dirty) {
  if (dirty) {
    dialogs.confirmation = true;
    return;
  }

  emit('cancel');
}

function onAcceptCancel() {
  emit('cancel');
  emit('update:modelValue', null);
}

function onAcceptDelete() {
  emit('delete');
  emit('update:modelValue', null);
}

function onDestroy() {
  dialogs.delete = true;
}

function onClone() {
  emit('clone', props.modelValue);
}

function onSave() {
  emit('save', props.modelValue);
}

</script>
