<template>
  <VeeField
    v-slot="{ componentField, errors }"
    v-model="model"
    :name="name"
    :rules="rules"
  >
    <v-select
      v-bind="componentField"
      :error-messages="error || errors"
      :variant="variant"
      :color="color"
      :label="label"
      :name="name"
      :item-title="itemTitle"
      :item-value="itemValue"
      :items="items"
      :prepend-inner-icon="prependInnerIcon"
      :append-inner-icon="appendInnerIcon"
      :disabled="disabled"
      :readonly="readonly"
      :return-object="returnObject"
      clearable
      class="mt-2 mb-3"
      :hide-details="!error && !errors?.length"
      @click:append-inner="emit('click:append-inner')"
    />
  </VeeField>
</template>
<script setup>
import { computed } from 'vue';

const emit = defineEmits(['update:modelValue', 'click:append-inner']);
const props = defineProps({
  modelValue: { type: [String, Array, Object, Number], default: undefined },
  name: { type: String, required: true },
  label: { type: String, default: '' },
  rules: { type: String, required: true },
  error: { type: Object, default: null },
  prependInnerIcon: { type: String, default: 'mdi-form-textbox' },
  appendInnerIcon: { type: String, default: '' },
  color: { type: String, default: 'primary' },
  variant: { type: String, default: 'outlined' },
  clearable: { type: Boolean, default: true },
  returnObject: { type: Boolean, default: false },
  itemValue: { type: String, default: 'id' },
  itemTitle: { type: String, default: 'name' },
  disabled: { type: Boolean, default: false },
  readonly: { type: Boolean, default: false },
  items: { type: Array, required: true },
});
const model = computed({
  get() { return props.modelValue; },
  set(value) { emit('update:modelValue', value); },
});
</script>
