<template>
  <VeeField
    v-slot="{ componentField, errors }"
    v-model="model"
    :name="name"
    :rules="rules"
  >
    <v-text-field
      v-bind="componentField"
      :error-messages="error || errors"
      :variant="variant"
      :color="color"
      :label="label"
      :name="name"
      :prepend-inner-icon="prependInnerIcon"
      :placeholder="placeholder"
      :append-inner-icon="appendInnerIcon"
      :disabled="disabled"
      :readonly="readonly"
      :type="type"
      :hint="hint"
      clearable
      class="mt-2 mb-3"
      :hide-details="(!error && !errors?.length) && !hint"
      @click:append-inner="emit('click:append-inner')"
      @keydown.enter="emit('keydown:enter')"
      @click="emit('click')"
    />
  </VeeField>
</template>
<script setup>
import { computed } from 'vue';

const emit = defineEmits(['click:append-inner', 'click', 'keydown:enter', 'update:modelValue']);
const props = defineProps({
  modelValue: { type: [String, Array, Object, Number], default: undefined },
  name: { type: String, required: true },
  label: { type: String, default: '' },
  rules: { type: String, required: true },
  error: { type: String, default: null },
  disabled: { type: Boolean, default: false },
  prependInnerIcon: { type: String, default: 'mdi-form-textbox' },
  appendInnerIcon: { type: String, default: '' },
  color: { type: String, default: 'primary' },
  variant: { type: String, default: 'outlined' },
  // clearable: { type: Boolean, default: true },
  readonly: { type: Boolean, default: false },
  type: { type: String, default: 'text' },
  placeholder: { type: String, default: null },
  hint: { type: String, default: null },
});
const model = computed({
  get() { return props.modelValue; },
  set(value) { emit('update:modelValue', value); },
});
</script>
