<template>
  <VeeField
    v-slot="{ componentField, errors: fieldErrors }"
    v-model="model"
    :name="name"
    :rules="rules"
  >
    <v-combobox
      v-bind="componentField"
      :error-messages="error || fieldErrors"
      :variant="variant"
      :color="color"
      :label="label"
      :name="name"
      :item-title="itemTitle"
      :item-value="itemValue"
      :items="items"
      :prepend-inner-icon="prependInnerIcon"
      :append-inner-icon="appendInnerIcon"
      :return-object="returnObject"
      clearable
      class="mt-2 mb-4"
    />
  </VeeField>
</template>
<script setup>
import { computed } from 'vue';

const emit = defineEmits(['update:modelValue', 'click:append-inner']);
const props = defineProps({
  modelValue: { type: [String, Array, Object, Number], default: undefined },
  name: { type: String, required: true },
  label: { type: String, default: '' },
  rules: { type: String, required: true },
  errors: { type: Object, default: null },
  prependInnerIcon: { type: String, default: 'mdi-form-textbox' },
  appendInnerIcon: { type: String, default: '' },
  color: { type: String, default: 'primary' },
  variant: { type: String, default: 'outlined' },
  returnObject: { type: Boolean, default: false },
  itemValue: { type: String, default: 'id' },
  itemTitle: { type: String, default: 'name' },
  items: { type: Array, required: true },
});
const error = computed(() => props.errors?.[props.name] || null);
const model = computed({
  get() { return props.modelValue; },
  set(value) { emit('update:modelValue', value); },
});
</script>
