<template>
  <VeeField
    v-slot="{ componentField, errors: fieldErrors }"
    v-model="model"
    :name="name"
    :rules="rules"
  >
    <v-number-input
      v-bind="componentField"
      :error-messages="error || fieldErrors"
      :variant="variant"
      :color="color"
      :label="label"
      :name="name"
      :prepend-inner-icon="prependInnerIcon"
      :clearable="clearable"
      :append-inner-icon="appendInnerIcon"
      :step="step"
      class="mt-2 mb-4"
      control-variant="stacked"
      @click:append-inner="emit('click:append-inner')"
    />
  </VeeField>
</template>
<script setup>
import { computed } from 'vue';

const emit = defineEmits(['update:modelValue', 'click:append-inner']);
const props = defineProps({
  modelValue: { type: [String, Array, Object, Number], default: undefined },
  name: { type: String, required: true },
  label: { type: String, default: '' },
  rules: { type: String, required: true },
  errors: { type: Object, default: null },
  prependInnerIcon: { type: String, default: 'mdi-form-textbox' },
  appendInnerIcon: { type: String, default: '' },
  color: { type: String, default: 'primary' },
  variant: { type: String, default: 'outlined' },
  clearable: { type: Boolean, default: true },
  step: { type: Number, default: 1 },
});
const error = computed(() => props.errors?.[props.name] || null);
const model = computed({
  get() { return props.modelValue; },
  set(value) { emit('update:modelValue', value); },
});
</script>
<style lang="scss">
.v-field__prepend-inner {
  .v-number-input__control .v-btn {
    border-radius: 0 !important;
    border-start-start-radius: 8px;
    border-end-start-radius: 8px;
  }
}

.v-field__append-inner {
  .v-number-input__control .v-btn {
    border-radius: 0 !important;
    border-end-end-radius: 8px;
    border-start-end-radius: 8px;
  }
}


.v-field__prepend-inner, .v-field__append-inner {
  .bg-primary {
    background-color: transparent !important;
    color: rgb(var(--v-theme-on-surface)) !important;
  }
}
</style>
