<template>
  <!-- <v-app> -->
  <div class="background">
    <div class="window glass active" style="max-width: 800px; margin: 0 auto; --window-background-color: #AC0048;">
      <div class="title-bar">
        <div class="title-bar-text">
          Bienvenido/a a mi Stio web personal :: Kingbeencent
        </div>
        <div class="title-bar-controls">
          <button aria-label="Minimize" />
          <button aria-label="Maximize" />
          <button aria-label="Close" />
        </div>
      </div>
      <div class="window-body has-scrollbar has-space" style="overflow: auto; max-height: 800px;">
        <router-view />
      </div>
      <div class="status-bar">
        <p class="status-bar-field">
          Press F1 for help
        </p>
        <p class="status-bar-field">
          Visit my Vue 3 library
          <a href="https://www.npmjs.com/package/7.css-vue">
            7.css-vue v1.0.3
          </a>
        </p>
        <p class="status-bar-field">
          Long live frutiger aero
        </p>
      </div>
    </div>
  </div>
</template>
<script setup>
// import AlertsWrapper from '@/components/AlertsWrapper.vue';
import { onBeforeMount } from 'vue';
import { setLocale as veeSetLocale } from '@vee-validate/i18n';

onBeforeMount(() => {
  veeSetLocale('es');
});
</script>
