<template>
  <v-container class="my-6">
    <v-row justify="center">
      <v-col cols="12">
        <h4 class="text-h4">
          Contáctanos
        </h4>
      </v-col>
      <v-col
        cols="12"
        sm="6"
        md="4"
      >
        <v-card class="h-100 rounded-xl d-flex flex-column justify-between" flat>
          <v-img
            src="/images/states/46.svg"
            class="w-75 mx-auto mt-8 mb-2"
          />

          <v-card-actions class="pt-6 pb-4">
            <v-btn
              variant="elevated"
              flat
              color="secondary"
              class="mx-auto px-4"
              prepend-icon="mdi-email"
              @click="dialog = true"
            >
              Contacto
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>

      <v-col
        cols="10"
        sm="6"
        md="4"
      >
        <v-card class="h-100 rounded-xl d-flex flex-column justify-between" flat>
          <v-img
            src="/images/states/41.svg"
            class="w-75 mx-auto mt-8 mb-2"
          />

          <v-card-actions class="pt-6 pb-4">
            <v-btn
              variant="elevated"
              flat
              color="secondary"
              size="large"
              href="https://fb.me/AIanimationstudios"
              target="_blank"
              prepend-icon="mdi-facebook-messenger"
              class="mx-auto px-4"
            >
              Messenger
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>

      <v-col
        cols="10"
        md="6"
        lg="4"
        class="d-flex justify-center align-center"
      >
        <v-img
          src="/images/boto.png"
          alt="boto greeting"
        />
      </v-col>
    </v-row>

    <v-dialog
      v-model="dialog"
      max-width="576"
    >
      <v-card
        title="Contact us"
        class="rounded-xl"
      >
        <v-card-text>
          <p class="mb-6">
            Please enter your email address so we can get back to you.
          </p>

          <VeeField
            v-model="dialog"
            name="email"
            label="Email"
            rules="required|email"
          >
            <v-text-field
              v-bind="field"
              placeholder="Email"
              label="Email"
              variant="outlined"
              prepend-inner-icon="mdi-email"
              :error-messages="errors"
            />
          </VeeField>
        </v-card-text>

        <v-card-actions>
          <v-btn
            color="primary"
            text
            @click="dialog = false"
          >
            Close
          </v-btn>
          <v-spacer />
          <v-btn
            color="primary"
            text
            @click="sendEmail"
          >
            Send
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>
<script setup>
import { ref } from 'vue';

const dialog = ref(false);

function sendEmail() {
  dialog.value = false;
  console.log('Email sent');
}
</script>
<style lang="scss" scoped>
.cover-img {
  background-position: top;
}

.cover-text {
  height: 100%;
  width: 100%;
  flex: 1 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

:deep(.v-card__image .v-responsive.v-img .v-responsive__sizer) {
  background-color: rgba(var(--v-theme-background), var(--v-medium-emphasis-opacity));
  backdrop-filter: blur(5px);
}
</style>
