<template>
  <v-container class="my-6">
    <v-row justify="center">
      <v-col cols="12">
        <h4 class="text-h4">
          Detalles de {{ product?.name || '(producto no encontrado)' }}
        </h4>
      </v-col>
      <v-col cols="12">
        <v-empty-state
          v-if="!product?.id"
          image="/images/states/50.svg"
          title="No encontrado"
          text="El elemento que está buscando no está disponible."
        />

        <ProductCardHorizontal
          v-else
          :product="product"
        />
      </v-col>
    </v-row>
  </v-container>
</template>
<script setup>
import ProductCardHorizontal from '@/components/ProductCardHorizontal.vue';
import { useProductStore } from '@/store';
import { onMounted, ref } from 'vue';
import { useRoute } from 'vue-router';

const store = useProductStore();
const route = useRoute();

const product = ref(null);

onMounted(async () => {
  product.value = await store.fetchProduct(route.params.id);
});
</script>
