<template>
  <v-container fluid>
    <v-row class="justify-center h-screen">
      <v-col cols="12" class="d-flex flex-column justify-center">
        <v-sheet
          class="cover-image main rounded-xl overlay-01"
          style="background-image: url('/images/banner-03.webp');"
        >
          <v-container class="content" fluid>
            <v-row class="justify-center">
              <v-col
                cols="12"
                md="6"
                class="text-center"
              >
                <v-img src="/images/botoshopping.png" />
                <v-btn
                  prepend-icon="mdi-store"
                  color="secondary"
                  size="x-large"
                  :to="{ name: 'store.all' }"
                >
                  Ver productos
                </v-btn>
              </v-col>
            </v-row>
          </v-container>
        </v-sheet>
      </v-col>
    </v-row>

    <v-row class="justify-center my-8">
      <v-col cols="12">
        <h2 class="text-h2">
          Marcas destacadas 🚀
        </h2>
        <p class="mt-2">
          Productos de las mejores marcas, Villanos y Axo Aventuras.
        </p>
      </v-col>
      <v-col
        v-for="brand in 2"
        :key="brand"
        cols="2"
      >
        <v-img :src="`/images/brands/${brand}.png`" />
      </v-col>
    </v-row>

    <v-row class="justify-center my-8">
      <v-col cols="12">
        <h2 class="text-h2">
          Más vendidos 🔥
        </h2>
        <p class="mt-2">
          Descubre los productos más vendidos de la semana.
        </p>
      </v-col>
      <v-col cols="12">
        <v-row>
          <v-col
            cols="12"
            md="6"
          >
            <ProductCardHorizontal
              v-for="product in featuredSectionA"
              :key="product.id"
              :product="product"
            />

            <v-row class="justify-center pt-2 pb-6">
              <v-btn
                v-for="({ text, icon }) in rated"
                :key="icon"
                variant="tonal"
                class="ma-2"
                elevation="0"
                :prepend-icon="icon"
                size="x-large"
              >
                {{ text }}
              </v-btn>
            </v-row>

            <v-card
              title="Ver más"
              elevation="0"
              color="primary"
              variant="tonal"
              class="rounded-xl mb-6"
            >
              <template #append>
                <v-btn
                  color="secondary"
                  icon="mdi-chevron-right"
                  elevation="0"
                />
              </template>
            </v-card>
          </v-col>
          <v-col
            cols="12"
            md="6"
          >
            <v-row class="justify-center pt-2 pb-6">
              <v-btn
                v-for="({ text, icon }) in highlight"
                :key="icon"
                variant="tonal"
                class="ma-2"
                elevation="0"
                :prepend-icon="icon"
                size="x-large"
              >
                {{ text }}
              </v-btn>
            </v-row>

            <v-card
              title="Ver más"
              elevation="0"
              color="primary"
              variant="tonal"
              class="rounded-xl mb-6"
            >
              <template #append>
                <v-btn
                  color="secondary"
                  icon="mdi-chevron-right"
                  elevation="0"
                />
              </template>
            </v-card>

            <ProductCardHorizontal
              v-for="product in featuredSectionB"
              :key="product.id"
              :product="product"
            />
          </v-col>
        </v-row>
      </v-col>
    </v-row>

    <v-row class="justify-center my-8">
      <v-col cols="12">
        <v-img
          src="/images/banner-02.webp"
          height="400"
          cover
          class="rounded-xl v-container-image justify-center"
        >
          <v-img
            src="/images/brands/2.png"
            width="200"
            aspect-ratio="1"
          />
          <v-btn
            color="secondary"
            elevation="0"
          >
            Ver productos
          </v-btn>
        </v-img>
      </v-col>
    </v-row>

    <v-row class="justify-center my-8">
      <v-col cols="12">
        <h2 class="text-h2">
          Nuevos productos 🆕
        </h2>
        <p class="mt-2">
          Dale un vistazo a los productos más recientes.
        </p>
      </v-col>
      <v-col cols="12">
        <v-slide-group show-arrows>
          <v-slide-group-item
            v-for="n in latest"
            :key="n"
          >
            <v-card
              variant="tonal"
              color="primary"
              tile
              class="ma-2"
              :title="n.name"
              :subtitle="n.price.toCurrency()"
              width="300"
            >
              <v-img
                :src="n?.image?.url || '/images/states/64.svg'"
                width="90%"
                class="mx-auto"
              />
              <v-card-actions>
                <v-spacer />
                <v-tooltip
                  location="top"
                  text="Marcar como favorito"
                >
                  <template #activator="{ props: on }">
                    <v-btn
                      v-bind="on"
                      icon="mdi-heart-outline"
                    />
                  </template>
                </v-tooltip>

                <v-tooltip
                  location="top"
                  text="Agregar al carrito"
                >
                  <template #activator="{ props: on }">
                    <v-btn
                      v-bind="on"
                      icon="mdi-cart-plus"
                    />
                  </template>
                </v-tooltip>
              </v-card-actions>
            </v-card>
          </v-slide-group-item>
        </v-slide-group>
      </v-col>
    </v-row>

    <v-row class="justify-center my-8">
      <v-col cols="12">
        <v-img
          src="/images/banner-01.webp"
          height="400"
          cover
          class="rounded-xl v-container-image"
        >
          <v-img
            src="/images/brands/1.png"
            width="200"
            aspect-ratio="1"
          />
          <v-btn
            color="secondary"
            elevation="0"
          >
            Ver productos
          </v-btn>
        </v-img>
      </v-col>
    </v-row>
  </v-container>
</template>
<script setup>
import ProductCardHorizontal from '@/components/ProductCardHorizontal.vue';
import { useProductStore } from '@/store';
import { orderBy } from 'lodash';
import { computed } from 'vue';

const store = useProductStore();

const latest = computed(() => orderBy(store.products, ['created_at'], ['desc']));
const featuredSectionA = computed(() => store.products.slice(0, 3));
const featuredSectionB = computed(() => store.products.slice(0, 3));

const highlight = [
  {
    text: 'Ropa',
    icon: 'mdi-hanger',
  },
  {
    text: 'Accesorios',
    icon: 'mdi-watch',
  },
  {
    text: 'Juguetes',
    icon: 'mdi-rocket',
  },
];

const rated = [
  {
    text: 'Oficina',
    icon: 'mdi-file-document',
  },
  {
    text: 'Accesorios',
    icon: 'mdi-watch',
  },
  {
    text: 'Electrónica',
    icon: 'mdi-robot',
  },
];
</script>
<style lang="scss" scoped>
.min-h-screen {
  min-height: calc(100vh - 64px);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
</style>
