<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path :d="simpleIcon" />
  </svg>
</template>
<script setup>
import {
  siFacebook,
  siInstagram,
  siX,
  siLinkedin,
  siTiktok,
  siYoutube,
} from 'simple-icons/icons';
import { computed } from 'vue';

const icons = {
  facebook: siFacebook.path,
  instagram: siInstagram.path,
  x: siX.path,
  linkedin: siLinkedin.path,
  tiktok: siTiktok.path,
  youtube: siYoutube.path,
};

const props = defineProps({
  icon: { type: String, required: true },
});

const simpleIcon = computed(() => icons[props.icon]);
</script>
<style scoped>
svg {
  fill: currentColor;
}
</style>
