@use 'vuetify/settings' with(
  $body-font-family: "Poppins",
  $heading-font-family: "Montserrat",
);
@use 'vuetify';
@use 'sass:color';

* { outline: none; }

::-moz-selection { /* Code for Firefox */
  color: rgb(var(--v-theme-on-primary));
  background-color: rgb(var(--v-theme-primary));
}

::selection {
  color: rgb(var(--v-theme-on-primary));
  background-color: rgb(var(--v-theme-primary));
}

.v-alert {
//   backdrop-filter: blur(8px);

  &.v-alert--prominent .v-alert__prepend i {
    font-size: 28px !important;

    &::after {
      background: currentColor!important;
      border-radius: 50%;
      bottom: 0;
      content: "";
      left: 0;
      opacity: .16;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.v-container-image {
  &.items-center .v-responsive__content {
    align-items: center;
  }

  &.items-end .v-responsive__content {
    align-items: flex-end;
  }

  &.items-start .v-responsive__content {
    align-items: flex-start;
  }

  .v-responsive__content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    .v-img {
      flex: 0 0 auto !important;
    }
  }
}

.cover-image {
  &.main {
    height: calc(100vh - 64px);
  }

  position: relative;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .content {
    position: relative;
    z-index: 2;
  }

  &.overlay-01::after { background: url("/images/overlays/01.png") repeat; }
  &.overlay-02::after { background: url("/images/overlays/02.png") repeat; }
  &.overlay-03::after { background: url("/images/overlays/03.png") repeat; }
  &.overlay-04::after { background: url("/images/overlays/04.png") repeat; }
  &.overlay-05::after { background: url("/images/overlays/05.png") repeat; }
  &.overlay-06::after { background: url("/images/overlays/06.png") repeat; }
  &.overlay-07::after { background: url("/images/overlays/07.png") repeat; }
  &.overlay-08::after { background: url("/images/overlays/08.png") repeat; }
  &.overlay-09::after { background: url("/images/overlays/09.png") repeat; }
  &.overlay-boto::after { background: url("/images/overlays/boto.png") repeat; }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }
}


.v-empty-state {
    user-select: none;
}

.transparent {
    background: transparent !important;
}
