<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12">
        <h4 class="text-h4">
          Historial de compras
        </h4>
      </v-col>
    </v-row>

    <v-empty-state
      v-if="!orders.length"
      image="/images/states/53.svg"
      title="No hay compras registradas"
      text="No se han realizado compras en la plataforma"
      style="height: calc(100vh - 100px)"
    />
  </v-container>
</template>
<script setup>
import { computed } from 'vue';
import { useOrderStore } from '@/store';

const store = useOrderStore();

const orders = computed(() => store.orders);
</script>
