@import '7.css/dist/7.css';


body {
  margin: 0;
}

.background {
  min-height: calc(100vh - 16px);
  padding: 8px;

  background-image: url('/images/wallpaper.png') !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .window {
    height: 100%;
  }
}
