<template>
  <section>
    <WinTabs :tabs="tabs">
      <template #intro>
        <div class="content">
          <h4 style="margin: 4px 0; padding: 4px 0;">
            <img
              src="/icons/success.png"
              alt="Success"
              style="display: inline-flex; width: 30px; aspect-ratio: 1;"
            >
            Acerca de mí
          </h4>
          <p>
            Soy un desarrollador web, móvil y de escritorio, trabajo con tecnologías tales como; Vue.js, Laravel, Tailwind CSS, Electron.js, Golang, Laravel y Adonis.js. De igual forma, tengo experiencia en el desarrollo de videojuegos usando tecnologías
            tales como Unity3D, Godot Engine y Unreal Engine. Además cuento con conocimiento en diferentes tipos de bases de datos, tales como; MySQL, PostgreSQL, Oracle PL/SQL, Redis, MongoDB y Firebase.
          </p>
          <p>
            Me gusta muchísimo crear cosas con estética de los 2000&apos;s y 2010&apos;s. Me encanta la estética de Windows XP y Windows 7, y me gusta mucho la estética de las interfaces frutiger aero.
          </p>
          <p>
            En mi tiempo libre, me gusta jugar videojuegos, ver series, programar y aprender cosas relacionadas a la programación, escuchar música y leer novelas góticas. Soy un gran fan de la música gótica y el dubstep.
          </p>
          <p>
            Este sitio web ha sido creado gracias a la magia de la librería <a href="https://khang-nd.github.io/7.css" target="_blank">7.css</a> y a los componentes que forman parte de la librería que se encuentra en el enlace al fondo de esta ventana, usando Vue 3.
          </p>

          <img
            src="/images/kingbeencent.png"
            alt="Success"
            style="margin: 2px auto; display: block; width: clamp(200px, 100%, 600px); height: auto;"
          >
        </div>
      </template>

      <template #projects>
        <div class="content">
          <p>
            Actualmente, sólo tengo una librería pública y algunos gists que ayudan a la comunidad de desarrolladores a crear aplicaciones web de forma más rápida y sencilla.
            Mi proyecto más reciente es:
            <WinGroupbox label="7.css-vue">
              <ul>
                <li>
                  <img
                    src="/icons/monitor.png"
                    alt="Monitor"
                    style="display: inline-flex; width: 30px; aspect-ratio: 1;"
                  >
                  <WinLink
                    href="https://twitter.com/kingbeencent"
                    target="_blank"
                  >
                    7.css-vue
                  </WinLink>: Una librería hecha para Vue 3, basada en la increíble librería <WinLink
                    href="https://khang-nd.github.io/7.css"
                    target="_blank"
                  >
                    7.css
                  </WinLink>.
                </li>
              </ul>
            </WinGroupbox>
          </p>
        </div>
      </template>

      <template #contact>
        <div class="content">
          <p>
            Puedes contactarme a través de <WinLink
              href="mailto:hello@kingbeencent.dev"
              class="button"
              target="_blank"
            >
              mi correo electrónico profesional
            </WinLink> o a través de mis redes sociales:
            <span style="display: block; width: 100%; text-align: center;">
              <WinLink
                href="https://twitter.com/kingbeencent"
                target="_blank"
              >
                <img
                  src="/feed/Twitter.png"
                  alt="Twitter"
                  style="display: inline-flex; width: 60px; aspect-ratio: 1; margin: 8px"
                >
              </WinLink>

              <WinLink
                href="https://instagram.com/kingbeencent"
                target="_blank"
              >
                <img
                  src="/feed/Instagram.png"
                  alt="Instagram"
                  style="display: inline-flex; width: 60px; aspect-ratio: 1; margin: 8px"
                >
              </WinLink>

              <WinLink
                href="https://github.com/vstyler96"
                target="_blank"
              >
                <img
                  src="/feed/Github.png"
                  alt="Github"
                  style="display: inline-flex; width: 60px; aspect-ratio: 1; margin: 8px"
                >
              </WinLink>
            </span>
          </p>
        </div>
      </template>
    </WinTabs>
  </section>
</template>
<script setup>
const tabs = {
  intro: 'Introducción',
  contact: 'Contacto',
  projects: 'Proyectos',
};
</script>
<style scoped>
:deep() .content p {
  font-size: 0.9rem !important;
}
</style>
