<template>
  <div class="v-alerts-wrapper">
    <template
      v-for="({ id, message, type, visible }) in settings.alerts"
      :key="id"
    >
      <v-scroll-x-transition>
        <v-alert
          v-if="visible"
          border="start"
          :text="message"
          :type="type"
          prominent
          class="mb-2"
        >
          <template #prepend>
            <v-icon :icon="icons[type]" />
          </template>

          <template #append>
            <v-icon
              icon="mdi-close"
              class="my-auto"
              @click="settings.removeAlert(id)"
            />
          </template>
        </v-alert>
      </v-scroll-x-transition>
    </template>
  </div>
</template>
<script setup>
import useSettingsStore from '@/store/settings/index.js';

const settings = useSettingsStore();
const icons = {
  success: 'mdi-check-decagram',
  error: 'mdi-close-octagon',
  warning: 'mdi-alert',
  info: 'mdi-information-variant-circle',
};
</script>
<style lang="scss">
.v-alerts-wrapper {
  position: fixed;
  right: 0;
  padding: 0.5em;
  min-width: 300px;
  width: 40vw;
  max-width: 100%;
  height: auto;
  bottom: 0 !important;
  z-index: 1200;
  overflow: hidden;
}
</style>
