<template>
  <v-dialog
    :model-value="visible"
    max-width="350"
    persistent
  >
    <VeeForm v-slot="{ meta: { valid, dirty } }">
      <v-card :title="title">
        <v-card-text>
          <small v-if="message">
            {{ message }}
          </small>
          <slot v-if="!message" />

          <VeeField
            v-if="!phrase"
            v-slot="{ field, errors }"
            v-model="confirmation"
            rules="required|confirmation"
            name="confirmation"
          >
            <v-text-field
              v-bind="field"
              label="Confirmation"
              outlined
              dense
              clearable
              prepend-icon="mdi-check"
              :error-messages="errors"
            />
          </VeeField>
        </v-card-text>

        <v-card-actions>
          <v-btn
            color="default"
            @click="emit('cancel')"
          >
            Cancelar
          </v-btn>
          <v-spacer />
          <v-btn
            color="primary"
            :disabled="!valid || (!dirty && !dense)"
            @click="onAccept"
          >
            Aceptar
          </v-btn>
        </v-card-actions>
      </v-card>
    </VeeForm>
  </v-dialog>
</template>
<script setup>
import { computed } from 'vue';
import { defineRule } from 'vee-validate';

defineRule('confirmation', value => value === props.phrase || 'The confirmation phrase is incorrect.');

const emit = defineEmits(['accept', 'cancel', 'update:modelValue']);
const props = defineProps({
  modelValue: { type: Boolean, default: false },
  title: { type: String, default: 'Form' },
  message: { type: String, default: null },
  phrase: { type: String, default: 'DELETE' },
  dense: { type: Boolean, default: false },
});

const visible = computed(() => !!props.modelValue);

function onAccept() {
  emit('update:modelValue', null);
  emit('accept');
}
</script>
