<template>
  <v-btn
    v-if="!drawer"
    icon="mdi-menu"
    position="fixed"
    size="large"
    class="ma-4"
    location="bottom right"
    style="z-index: 999"
    @click="drawer = !drawer"
  />
  <v-navigation-drawer
    v-model="drawer"
    width="100"
    class="md:bg-transparent border-none"
  >
    <template #prepend>
      <v-img
        :src="application.icon"
        width="80%"
        class="mx-auto mt-4 mb-6"
      />
    </template>

    <div class="d-flex flex-column">
      <NavRail
        v-for="({ name, path, meta: { title, icon } }) in main"
        :key="name"
        :title="title"
        :icon="icon"
        :to="{ name, path }"
      />

      <template v-if="authStore.user?.id > 0">
        <v-divider class="w-75 my-2 mx-auto" />

        <NavRail
          title="Carrito"
          icon="mdi-cart"
          :to="{ name: 'cart' }"
        />

        <NavRail
          title="Historial"
          icon="mdi-shopping"
          :to="{ name: 'history' }"
        />

        <template v-if="authStore.user?.is_admin">
          <v-divider class="w-75 my-2 mx-auto" />

          <NavRail
            title="Panel"
            icon="mdi-view-dashboard"
            :to="{ name: 'dashboard' }"
            exact
          />

          <NavRail
            v-for="({ name, meta: { title, icon } }) in appSections"
            :key="name"
            :title="title"
            :icon="icon"
            :to="{ name }"
          />
        </template>
      </template>
    </div>

    <template #append>
      <NavRail
        v-if="!authStore.user?.id"
        title="Cuenta"
        icon="mdi-login-variant"
        @click="dialog = true"
      />

      <template v-else>
        <NavRail
          title="Perfil"
          icon="mdi-account-circle"
          :to="{ name: 'profile' }"
        />

        <NavRail
          title="Salir"
          icon="mdi-logout"
          @click="onLogout"
        />
      </template>
    </template>
  </v-navigation-drawer>

  <LoginDialog v-model="dialog" />
</template>
<script setup>
import LoginDialog from './LoginDialog.vue';
import NavRail from '@/components/NavRail.vue';
import { main } from '@/router/routes';
import { useTheme } from 'vuetify';
import { onMounted, ref } from 'vue';
import { useAuthStore, useSettingsStore } from '@/store';
import { appSections } from '@/router/dashboard';

const theme = useTheme();
const drawer = ref(true);
const dialog = ref(false);
const authStore = useAuthStore();
const { settings: { application } } = useSettingsStore();


async function onLogout() {
  await authStore.logout();
  window.location.reload();
}

onMounted(() => {
  const localTheme = localStorage.get('theme');
  if (localTheme) {
    theme.global.name.value = localTheme;
  }
});
</script>
