<template>
  <v-footer>
    <v-container class="mt-8 mb-2">
      <v-row>
        <v-col
          cols="12"
          sm="6"
          md="4"
          lg="3"
        >
          <h5 class="text-h5 mb-4 text-primary">
            Acerca de
          </h5>
          <p class="text-caption">
            {{ application.about }}
          </p>
        </v-col>

        <v-col
          cols="12"
          sm="6"
          md="4"
          lg="3"
        >
          <h5 class="text-h5 mb-4 text-primary">
            Servicio al Cliente
          </h5>
          <v-list
            nav
            color="primary"
            density="compact"
            class="bg-transparent"
          >
            <v-list-item
              v-for="({ name, meta: { title, icon } }) in footer"
              :key="name"
              exact
              :title="title"
              :prepend-icon="icon"
              :to="{ name }"
            />
          </v-list>
        </v-col>

        <v-col
          cols="12"
          sm="6"
          md="4"
          lg="3"
        >
          <h5 class="text-h5 mb-4 text-primary">
            Redes sociales
          </h5>
          <v-list
            nav
            density="compact"
            class="bg-transparent"
          >
            <v-list-item
              v-for="({ title, href, icon }) in feed"
              :key="title"
              :title="title"
              :prepend-icon="icon"
              :href="href"
              target="_blank"
            />
          </v-list>
        </v-col>

        <v-col
          cols="12"
          sm="6"
          md="4"
          lg="3"
        >
          <h5 class="text-h5 mb-4 text-primary">
            Newsletter
          </h5>
          <p class="mb-1 text-caption">
            Suscribirse a nuestro boletín
          </p>
          <v-text-field
            label="Email"
            variant="outlined"
            prepend-inner-icon="mdi-email"
            append-inner-icon="mdi-arrow-right-thin"
            density="compact"
            color="primary"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col
          cols="10"
          lg="5"
        >
          <v-img
            src="/images/banner-botoshopping.png"
            width="300"
          />
          <p class="text-caption ml-4">
            Todos los derechos reservados para Boto Shopping &copy; {{ (new Date()).getFullYear() }}
          </p>
          <p class="mt-4">
            <v-btn
              variant="text"
              :to="{ name: 'privacy-policy' }"
              class="mr-2"
              size="small"
              flat
            >
              Política de privacidad
            </v-btn>

            <v-btn
              variant="text"
              :to="{ name: 'service-terms' }"
              size="small"
              flat
            >
              Términos de servicio
            </v-btn>
          </p>
        </v-col>
      </v-row>
    </v-container>
  </v-footer>
</template>
<script setup>
import { footer } from '@/router/routes';
import { useSettingsStore } from '@/store';

const { settings: { application } } = useSettingsStore();

const feed = [
  {
    title: 'Facebook',
    href: 'https://fb.me/AIanimationstudios',
    icon: 'si:facebook',
  },
  {
    title: 'Instagram',
    href: 'https://www.instagram.com/aianimationstudios',
    icon: 'si:instagram',
  },
  {
    title: 'Twitter',
    href: 'https://twitter.com/aianimacion',
    icon: 'si:x',
  },
  {
    title: 'YouTube',
    href: 'https://www.youtube.com/c/AIAnimationStudios',
    icon: 'si:youtube',
  },
];
</script>
<style scoped lang="scss">
.feed {
  list-style: none inside;
}
</style>
