<template>
  <v-dialog
    :model-value="modelValue"
    max-width="400px"
    persistent
  >
    <VeeForm
      v-slot="{ meta: { valid } }"
      as="v-card"
      :title="tab == 'signIn' ? 'Acceder' : 'Registro'"
      :subtitle="tab == 'signIn' ? 'Proporciona tus credenciales.' : 'Crea tu propia cuenta.'"
      :loading="store.loading"
      flat
    >
      <v-card-text>
        <v-tabs v-model="tab" class="mb-4">
          <v-tab value="signIn" rounded="sm">
            Acceder
          </v-tab>
          <v-tab value="signUp" rounded="sm">
            Registro
          </v-tab>
        </v-tabs>

        <v-tabs-window v-model="tab">
          <v-tabs-window-item
            v-if="tab === 'signIn'"
            value="signIn"
          >
            <ValidatedField
              v-model="store.credentials.email"
              name="email"
              rules="required|email"
              prepend-inner-icon="mdi-email"
              label="Correo electrónico"
              :error="errors?.email"
            />

            <ValidatedField
              v-model="store.credentials.password"
              name="password"
              label="Contraseña"
              rules="required"
              prepend-inner-icon="mdi-key"
              :error="errors?.password"
              :type="passwordType ? 'password' : 'text'"
              :append-inner-icon="passwordType ? 'mdi-eye' : 'mdi-eye-off'"
              @click:append-inner="passwordType = !passwordType"
              @keydown:enter="onLogin"
            />
          </v-tabs-window-item>
          <v-tabs-window-item
            v-else
            value="signUp"
          >
            <ValidatedField
              v-model="store.registrar.name"
              name="name"
              rules="required"
              prepend-inner-icon="mdi-account-circle"
              label="Nombre"
              :error="errors?.name"
              :disabled="tab === 'signIn'"
            />

            <ValidatedField
              v-model="store.registrar.email"
              name="email"
              rules="required|email"
              prepend-inner-icon="mdi-email"
              label="Correo electrónico"
              :error="errors?.email"
              :disabled="tab === 'signIn'"
            />

            <ValidatedField
              v-model="store.registrar.password"
              name="password"
              label="Contraseña"
              rules="required|min:8"
              prepend-inner-icon="mdi-key"
              :error="errors?.password"
              :type="passwordType ? 'password' : 'text'"
              :append-inner-icon="passwordType ? 'mdi-eye' : 'mdi-eye-off'"
              :disabled="tab === 'signIn'"
              @click:append-inner="passwordType = !passwordType"
              @keydown:enter="onRegister"
            />
          </v-tabs-window-item>
        </v-tabs-window>
      </v-card-text>

      <v-card-actions class="px-2">
        <v-btn
          color="error"
          @click="emit('update:modelValue', false)"
        >
          Cancelar
        </v-btn>
        <v-spacer />
        <v-btn
          text
          :disabled="!valid || store.loading"
          :loading="store.loading"
          prepend-icon="mdi-login-variant"
          @click.prevent="onAction"
        >
          {{ tab === 'signIn' ? 'Acceder' : 'Registro' }}
        </v-btn>
      </v-card-actions>
    </VeeForm>
  </v-dialog>
</template>
<script setup>
import { useAuthStore } from '@/store';
import { useRouter } from 'vue-router';
import { computed, ref } from 'vue';

const emit = defineEmits(['update:modelValue']);

defineProps({
  modelValue: { type: Boolean, required: true },
});

const store = useAuthStore();
const router = useRouter();
const errors = computed(() => store.errors);
const passwordType = ref(true);
const tab = ref('signIn');

async function onLogin() {
  store.loading = true;
  await store.login();

  if (!store.user) return;
  emit('update:modelValue', false);

  if (store.user?.is_admin) {
    router.replace({ name: 'dashboard' });
    return;
  }

  router.replace({ name: 'profile' });
}

async function onRegister() {
  store.loading = true;
  await store.register();

  if (!store.user) return;
  emit('update:modelValue', false);

  if (store.user?.is_admin) {
    router.replace({ name: 'dashboard' });
    return;
  }

  router.replace({ name: 'profile' });
}

async function onAction() {
  if (tab.value === 'signIn') {
    await onLogin();
    return;
  }

  await onRegister();
}
</script>
