<template>
  <v-app-bar density="compact">
    <template #prepend>
      <v-breadcrumbs :items="items">
        <template #divider>
          <v-icon icon="mdi-menu-right" />
        </template>
      </v-breadcrumbs>
    </template>
    <template #append>
      <Tools
        :create="create"
        :csv-export="csvExport"
        :csv-import="csvImport"
        :destroy="destroy"
        :hide-create="hideCreate"
        :hide-csv-export="hideCsvExport"
        :hide-csv-import="hideCsvImport"
        :hide-destroy="hideDestroy"
        @create="emit('create')"
        @destroy="emit('destroy')"
        @import="emit('import')"
      />
    </template>
  </v-app-bar>
</template>
<script setup>
import Tools from '@/components/Tools.vue';
import { useRoute } from 'vue-router';

defineProps({
  // Programatically Disable Options
  create: { type: Boolean, default: false },
  csvImport: { type: Boolean, default: false },
  csvExport: { type: Boolean, default: false },
  destroy: { type: Boolean, default: false },

  // Fully hide Options
  hideCreate: { type: Boolean, default: false },
  hideCsvExport: { type: Boolean, default: false },
  hideCsvImport: { type: Boolean, default: false },
  hideDestroy: { type: Boolean, default: false },
});

const emit = defineEmits(['create', 'edit', 'destroy', 'import']);

const route = useRoute();
const items = route.matched.map(({ name, path, meta, params }) => ({
  title: meta?.title,
  name: name,
  disabled: !route?.name || route?.name === name,
  to: { name, path, params },
}));
</script>
