<template>
  <span class="v-nav-rail">
    <v-btn
      v-bind="$attrs"
      class="px-8 mx-auto"
      variant="text"
      size="small"
    />
    <span class="v-nav-rail__text text-center text-caption">
      {{ $attrs?.title }}
    </span>
  </span>
</template>
<style lang="scss" scoped>
.v-nav-rail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 3px;
  user-select: none;
  -moz-user-select: none;

  .v-nav-rail__text {
    color: currentColor
  }
}
</style>
