<template>
  <v-row class="justify-center h-auto">
    <v-col
      cols="12"
      md="10"
      lg="8"
    >
      <h5 class="mb-4 text-h5">
        Buscar productos por nombre
      </h5>
      <v-text-field
        v-model="keyword"
        label="Buscar"
        placeholder="Buscar productos"
        prepend-inner-icon="mdi-magnify"
        variant="solo"
        color="primary"
        :loading="loading"
        @keyup.prevent="search"
      />

      <v-chip-group
        v-model="chips"
        multiple
        color="primary"
      >
        <v-chip
          v-for="({ name, value, icon }) in tags"
          :key="value"
          :value="value"
          filter
          :prepend-icon="icon"
          class="rounded-xl"
        >
          {{ name }}
        </v-chip>
      </v-chip-group>
    </v-col>
  </v-row>
  <v-row
    v-if="keyword || chips?.length > 0"
    class="justify-center"
  >
    <template v-if="loading">
      <v-col
        v-for="i in 3"
        :key="i"
        cols="12"
        sm="4"
        lg="3"
        class="text-center"
      >
        <v-skeleton-loader type="card" />
      </v-col>
    </template>
    <template v-else>
      <v-template v-if="products?.length > 0">
        Products
      </v-template>

      <v-col
        v-else
        cols="12"
        class="d-flex flex-column align-center"
      >
        <span class="mx-auto mt-4 text-h6">
          No se encontraron productos
        </span>

        <v-img
          src="/images/states/1/36.svg"
          aspect-ratio="1"
          width="300"
          class="mt-8"
        />
      </v-col>
    </template>
  </v-row>
</template>
<script setup>
const keyword = ref();
const chips = ref([]);
const tags = ref([
  {
    name: 'Hot Sale',
    value: 'hot',
    icon: 'mdi-fire',
  },
  {
    name: 'Ofertas',
    value: 'offers',
    icon: 'mdi-percent',
  },
  {
    name: 'Nuevos',
    value: 'latest',
    icon: 'mdi-octagram',
  },
  {
    name: 'Best Seller',
    value: 'best-seller',
    icon: 'mdi-star',
  },
  {
    name: 'Villanos',
    value: 'villains',
    icon: 'mdi-star',
  },
  {
    name: 'Axo',
    value: 'axo',
    icon: 'mdi-star',
  },
]);

const loading = ref(false);

watch(chips, updated => {
  if (!updated) return;

  search();
});

const search = () => {
  loading.value = true;
  setTimeout(() => {
    loading.value = false;
  }, 1500);
};
</script>
