<template>
  <v-row justify="center">
    <v-col
      cols="12"
      md="4"
      lg="3"
      class="d-flex flex-column justify-center"
    >
      <v-img :src="product.image?.url || '/images/states/64.svg'" />
    </v-col>
    <v-col
      cols="12"
      md="8"
      lg="9"
      class="d-flex flex-column justify-center"
    >
      <v-card
        :title="product.name"
        :subtitle="`${product.brand.name} - ${product.category.name}`"
        class="transparent"
        tile
        flat
      >
        <v-card-text>
          {{ product.description }}
        </v-card-text>

        <v-card-actions>
          <v-tooltip
            location="top"
            text="Eliminar"
          >
            <template #activator="{ props: tpProps }">
              <v-btn
                v-bind="tpProps"
                icon="mdi-delete"
                color="error"
                @click="store.removeFromCart(product)"
              />
            </template>
          </v-tooltip>
          <v-tooltip
            location="top"
            text="Ver producto"
          >
            <template #activator="{ props: tpProps }">
              <v-btn
                v-bind="tpProps"
                :to="{ name: 'product', params: { id: product.id } }"
                icon="mdi-open-in-new"
              />
            </template>
          </v-tooltip>

          <v-spacer />

          <v-text-field
            :model-value="product.quantity"
            variant="outlined"
            control-variant="split"
            readonly
            density="compact"
            label="Cantidad"
            hide-controls
            prepend-inner-icon="mdi-minus"
            append-inner-icon="mdi-plus"
            class="v-input-centered"
            @click:prepend-inner="decrementOrRemove(product)"
            @click:append-inner="incrementOrLock(product)"
          />

          <v-spacer />
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>
<script setup>
import { useProductStore, useSettingsStore } from '@/store';

defineProps({
  product: { type: Object, required: true },
});

const store = useProductStore();
const settings = useSettingsStore();

function decrementOrRemove(product) {
  if (product.quantity > 1) {
    store.addToCart(product, -1)
    return;
  }

  store.removeFromCart(product);
}

function incrementOrLock(product) {
  if (product.quantity < product.stock) {
    store.addToCart(product, 1);
    return;
  }

  settings.warningAlert('No puedes agregar más productos de los que hay en stock.');
}
</script>
<style lang="scss" scoped>
.v-input-centered:deep() {
  width: 100px;
  .v-field__input {
    text-align: center;
  }
}
</style>
