<template>
  <v-card
    :title="product.name"
    :subtitle="product.price.toCurrency()"
    flat
    variant="outlined"
    class="mb-4"
  >
    <v-img
      :src="product.image?.url || '/images/states/64.svg'"
      aspect-ratio="1"
    />
    <v-card-actions class="px-4">
      <v-btn
        color="primary"
        variant="elevated"
        prepend-icon="mdi-cart-plus"
        class="px-4"
        flat
        @click="addToCartAndBuy(product)"
      >
        Comprar
      </v-btn>

      <v-spacer />
      <v-tooltip
        location="top"
        text="Agregar a favoritos"
      >
        <template #activator="{ props: on }">
          <v-btn
            v-bind="on"
            icon="mdi-heart-outline"
            variant="text"
            flat
            class="mr-1 px-4"
            @click="markAsFavourite(product)"
          />
        </template>
      </v-tooltip>

      <v-tooltip
        v-if="!containedInCart(product?.id)"
        location="top"
        text="Agregar al carrito"
      >
        <template #activator="{ props: on }">
          <v-btn
            v-bind="on"
            icon="mdi-cart-plus"
            variant="text"
            flat
            class="px-4"
            @click="addToCart(product)"
          />
        </template>
      </v-tooltip>

      <v-badge
        v-else
        color="error"
        :content="totalContained(product?.id)"
      >
        <v-tooltip
          location="top"
          text="Hay productos de este tipo en tu carrito"
        >
          <template #activator="{ props: on }">
            <v-btn
              v-bind="on"
              icon="mdi-cart-check"
              color="success"
              variant="tonal"
              flat
              class="px-4"
              @click="addToCart(product)"
            />
          </template>
        </v-tooltip>
      </v-badge>
    </v-card-actions>
  </v-card>
</template>
<script setup>
import { useAuthStore, useProductStore, useSettingsStore } from '@/store';
import { useRouter } from 'vue-router';

defineProps({
  product: { type: Object, required: true },
});

const settings = useSettingsStore();
const store = useProductStore();
const auth = useAuthStore();
const router = useRouter();

function addToCart(product) {
  if (!auth.user?.id) {
    settings.warningAlert('Por favor inicie sesión o regístrese para agregar productos al carrito.');
    return;
  }

  const quantity = store.cart.find(({ id }) => id === product.id)?.quantity || 0;
  if (quantity < product.stock) {
    store.addToCart(product, 1);
    return;
  }

  settings.warningAlert('No puedes agregar más productos de los que hay en stock.');
}

async function addToCartAndBuy(product) {
  if (!auth.user?.id) {
    settings.warningAlert('Por favor inicie sesión o regístrese para agregar productos al carrito.');
    return;
  }

  const quantity = store.cart.find(({ id }) => id === product.id)?.quantity || 0;
  if (quantity < product.stock) {
    store.addToCart(product, 1);
  }

  await router.push({ name: 'cart' });
}

function containedInCart(productId) {
  return store.cart.some(({ id }) => id === productId);
}

function totalContained(productId) {
  return store.cart.find(({ id }) => id === productId)?.quantity || 1;
}

function markAsFavourite(product) {
  console.log(product);
}
</script>
