<template>
  <v-container fluid>
    <v-row justify="center">
      <v-col cols="12">
        <h2 class="text-h5 mt-2 mb-1">
          Información de envío
        </h2>
        <p>
          Dirección de envío: <b>{{ address.address }}, {{ address.city }}, {{ address.state }}, {{ address.country }}</b>
        </p>
        <p>
          Código Postal: <b>{{ address.zip }}</b>
        </p>
        <h2 class="text-h5 mt-2 mb-1">
          Información de contacto
        </h2>
        <p>
          Número telefónico: <b>{{ address.phone }}</b>
        </p>
        <p>
          Correo electrónico: <b>{{ address?.email || user.email }}</b>
        </p>
      </v-col>
    </v-row>
  </v-container>
</template>
<script setup>
import { computed } from 'vue';
import { useAuthStore } from '@/store';

const props = defineProps({
  modelValue: { type: Object, required: true },
});
const auth = useAuthStore();

const address = computed(() => props.modelValue);
const user = computed(() => auth.user);
</script>
