<template>
  <div class="toasts">
    <v-alert
      v-for="({ title, message, type }, i) in store.notifications"
      :key="i"
      variant="tonal"
      :border="'start'"
      :title="title"
      :text="message"
      :type="type"
      :prominent="!mobile"
      class="mb-2 mx-1"
    />
  </div>
</template>
<script setup>
import { useDisplay } from 'vuetify';
import { useSettingsStore } from '@/store';

const store = useSettingsStore();
const { mobile } = useDisplay();
</script>
<style lang="scss">
.toasts {
  position: fixed;
  right: 0;
  padding: 1em;
  width: 400px;
  height: auto;
  bottom: 0 !important;

  &.mobile {
    width: 100%;
  }
}
</style>
