<template>
  <v-menu>
    <template #activator="{ props }">
      <v-btn
        v-bind="props"
        color="primary"
        icon="mdi-dots-horizontal"
        density="compact"
        rounded="lg"
        variant="tonal"
      />
    </template>

    <v-list>
      <v-list-item
        v-if="!hideCreate"
        title="Agregar nuevo"
        prepend-icon="mdi-plus-circle"
        :disabled="!create"
        @click="$emit('create')"
      />

      <v-list-item
        v-if="!hideCsvExport"
        title="Exportar datos (CSV)"
        prepend-icon="mdi-file-delimited"
        :disabled="!csvExport"
        @click="$emit('file-export')"
      />

      <v-list-item
        v-if="!hideCsvImport"
        title="Importar datos (CSV)"
        prepend-icon="mdi-file-delimited"
        :disabled="!csvImport"
        @click="$emit('file-import')"
      />

      <template v-if="!hideDestroy">
        <v-divider />
        <v-list-item
          title="Eliminar seleccionados"
          class="text-error"
          :disabled="!destroy"
          prepend-icon="mdi-delete"
          @click="$emit('destroy')"
        />
      </template>
    </v-list>
  </v-menu>
</template>
<script setup>
defineProps({
  // Programatically Disable Options
  create: { type: Boolean, default: false },
  destroy: { type: Boolean, default: false },
  csvExport: { type: Boolean, default: false },
  csvImport: { type: Boolean, default: false },

  // Fully hide Options
  hideCreate: { type: Boolean, default: false },
  hideDestroy: { type: Boolean, default: false },
  hideCsvExport: { type: Boolean, default: false },
  hideCsvImport: { type: Boolean, default: false },
});

defineEmits(['create', 'destroy', 'file-export', 'file-import']);
</script>
