<template>
  <Navigation
    create
    :destroy="selected?.length > 0"
    hide-edit
    @create="editable = { name: '', description: '' }"
    @edit="dialogs.edit = true"
    @destroy="dialogs.destroy = true"
    @import="dialogs.import = true"
  />
  <v-empty-state
    v-if="!store.products.length"
    image="/images/states/36.svg"
    title="No hay productos"
    text="Agrega productos para comenzar a vender."
    action-text="Agregar producto"
    @click:action="editable = { name: '', description: '' }"
  />

  <v-container v-else fluid>
    <v-data-table
      :items="store.products"
      :headers="store.headers"
      items-per-page="50"
      style="height: calc(100vh - 80px);"
      class="rounded"
    >
      <template #[`item.actions`]="{ item }">
        <v-icon
          :icon="item.active ? 'mdi-checkbox-marked' : 'mdi-checkbox-blank-outline'"
          :color="item.active ? 'info' : 'grey'"
          class="mx-1"
          @click="item.active = !item.active"
        />
        <v-icon
          icon="mdi-pencil"
          class="mx-1"
          :disabled="!!editable"
          @click="editable = { ...item }"
        />
      </template>
    </v-data-table>
  </v-container>

  <ConfirmationDialog
    v-model="dialogs.destroy"
    dense
    title="Eliminar productos"
    text="¿Estás seguro de que deseas eliminar los productos seleccionados?"
    @cancel="dialogs.destroy = false"
    @accept="onDestroyBatch"
  />

  <Sidebar
    v-model="editable"
    :brands="store.brands"
    :categories="store.categories"
  />
</template>
<script setup>
import ConfirmationDialog from '@/components/ConfirmationDialog.vue';
import Navigation from '@/components/Navigation.vue';
import Sidebar from './Sidebar.vue';
import {
  computed,
  onMounted,
  reactive,
  ref,
} from 'vue';
import { useProductStore } from '@/store';

const editable = ref(null);
const dialogs = reactive({
  import: false,
  destroy: false,
});

const store = useProductStore();
const { fetchAll } = store;
const selected = computed(() => store.products.filter(product => product.active));

async function onDestroyBatch() {
  await store.destroyBatch(selected.value);
}

onMounted(async () => {
  await fetchAll();
});
</script>
