<template>
  <Sidebar
    :model-value="modelValue"
    :title="editable?.id ? 'Editar producto' : 'Crear producto'"
    deletable
    @delete="onDelete"
    @cancel="emit('update:modelValue', null)"
    @save="onSave"
  >
    <!-- Image -->
    <VeeField
      v-slot="{ componentField }"
      v-model="editable.image_id"
      name="vista previa"
    >
      <FilePicker v-bind="componentField" />
    </VeeField>

    <!-- Name -->
    <ValidatedField
      v-model="editable.name"
      label="Nombre"
      name="name"
      rules="required"
      prepend-inner-icon="mdi-package-variant-closed"
      :errors="errors"
    />

    <!-- Description -->
    <ValidatedField
      v-model="editable.description"
      label="Descripción"
      name="description"
      rules="required"
      prepend-inner-icon="mdi-tag"
      :errors="errors"
    />

    <!-- Price -->
    <ValidatedField
      v-model="editable.price"
      label="Precio"
      name="price"
      rules="required|decimal"
      prepend-inner-icon="mdi-currency-usd"
      :step="0.01"
      control-variant="stacked"
      :errors="errors"
    />

    <!-- Stock -->
    <ValidatedField
      v-model="editable.stock"
      label="Cantidad"
      name="stock"
      rules="required|integer"
      prepend-inner-icon="mdi-package"
      control-variant="split"
      :errors="errors"
    />

    <!-- Category -->
    <ValidatedSelect
      v-model="editable.category_id"
      :items="categories"
      name="category"
      rules="required"
      item-title="name"
      item-value="id"
      label="Categoría"
      prepend-inner-icon="mdi-tshirt-crew"
      clearable
      :errors="errors"
    />

    <!-- Brand -->
    <ValidatedSelect
      v-model="editable.brand_id"
      :items="brands"
      name="brand"
      rules="required"
      item-title="name"
      item-value="id"
      label="Marcas"
      prepend-inner-icon="mdi-seal"
      :errors="errors"
    />
  </Sidebar>
</template>
<script setup>
import FilePicker from '@/components/file/Picker.vue';
import Sidebar from '@/components/form/Sidebar.vue';
import { useProductStore } from '@/store';
import settings from '@/store/settings';
import { computed } from 'vue';

const emit = defineEmits(['update:modelValue']);

const props = defineProps({
  modelValue: { type: Object, default: null },
  categories: { type: Array, default: () => [] },
  brands: { type: Array, default: () => [] },
});

const { errors, saveProduct, destroyProduct } = useProductStore();

const editable = computed({
  get: () => props.modelValue,
  set: value => emit('update:modelValue', value),
});

async function onSave() {
  const errors = await saveProduct(editable.value);

  if (!errors) {
    editable.value = null;
    return;
  }

  settings.errorAlert('Por favor, verifica los campos del formulario.');
}

async function onDelete() {
  console.log('delete', editable.value);
  await destroyProduct(editable.value);
  editable.value = null;
}
</script>
