<template>
  <v-container fluid>
    <v-row justify="center">
      <v-col
        cols="12"
        :xl="files.length > 0 ? 6 : 12"
        class="d-flex flex-column"
      >
        <v-img
          class="v-upload--chooser rounded mx-auto"
          :class="{ dragging, error, file }"
          :src="props.multiple ? '/states/1/15.svg' : (preview || '/states/1/14.svg')"
          width="250"
          cover
          aspect-ratio="1"
          @dragstart.stop.prevent=""
          @dragover.prevent="dragging = true"
          @dragleave.prevent="dragging = false"
          @drop.stop.prevent="onFileChange"
          @click="fileInput?.click()"
        />

        <input
          ref="fileInput"
          type="file"
          :multiple="multiple"
          class="v-upload--input"
          @input="onFileChange"
        />

        <p
          v-if="file"
          class="text-center text-small mt-3"
        >
          Drag &amp; drop, click or
          <v-btn
            variant="tonal"
            size="small"
            @click="file = null"
          >
            reset
          </v-btn> to change.
        </p>
      </v-col>

      <v-col
        v-if="props.multiple && files.length > 0"
        cols="12"
        xl="6"
      >
        <v-row class="v-row--list-files">
          <v-col
            v-for="({ file: ifile }, i) in files"
            :key="i"
            cols="12"
          >
            <v-card
              variant="tonal"
              color="secondary"
              rounded
              prepend-icon="mdi-file"
              :title="ifile.name"
              :subtitle="ifile.size.toHumanFriendly({ size: 'kb' })"
            >
              <template #append>
                <v-btn
                  icon="mdi-close-circle"
                  size="sm"
                  variant="tonal"
                  @click="removeFile(i)"
                />
              </template>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>

    <v-row v-if="props.multiple">
      <v-col>
        <v-btn
          variant="tonal"
          prepend-icon="mdi-check-circle"
          block
          :disabled="!files?.length"
          @click="emit('ready')"
        >
          Ready
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
<script setup>
import { computed, ref } from 'vue';

const emit = defineEmits(['update:file', 'update:files', 'ready', 'retry']);

const props = defineProps({
  file: { type: Object, default: () => null },
  files: { type: Array, default: () => [] },
  multiple: { type: Boolean, default: false },
  error: { type: Boolean, default: false },
  mapper: { type: Function, default: undefined },
});

const file = computed({
  get() { return props.file; },
  set(f) { emit('update:file', f); },
});

const files = computed({
  get() { return props.files; },
  set(f) { emit('update:files', f); },
});

const fileInput = ref(null);
const dragging = ref(false);
const preview = computed(() => file?.value ? URL.createObjectURL(file?.value) : null);

async function removeFile(index) {
  files.value.splice(index, 1);
}

async function addFile(eventFiles) {
  if (props.mapper) {
    files.value = Array.from(new Set([
      ...files.value,
      ...Array.from(eventFiles).map(props.mapper),
    ]));

    return;
  }

  files.value = Array.from(new Set([
    ...files.value,
    ...Array.from(eventFiles),
  ]));
}

async function setFile(eventFile) {
  if (props.mapper) {
    file.value = (props.mapper)(eventFile);
    emit('ready');
    return;
  }

  file.value = eventFile;
  emit('ready');
}

async function onFileChange({ dataTransfer = null, target }) {
  const eventFiles = dataTransfer?.files || target.files;

  if (!eventFiles?.length || !eventFiles) return;

  try {
    if (props.multiple) {
      await addFile(eventFiles);
    } else {
      await setFile(eventFiles.item(0));
    }
  } finally {
    dragging.value = false;
  }
}
</script>
<style lang="scss" scoped>
.v-upload--input {
  display: none;
  visibility: none;
}

.v-upload--chooser {
  border: 1px solid rgba(var(--v-theme-on-background), 0.37);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;

  &.dragging {
    border: 1px solid rgb(var(--v-theme-success));
    background-color: rgba(var(--v-theme-success), 0.125);
  }

  &.error {
    border: 1px solid rgb(var(--v-theme-error));
    background-color: rgba(var(--v-theme-error), 0.125);
  }

  &.file {
    border: 1px solid rgb(var(--v-theme-info));
    background-color: rgba(var(--v-theme-info), 0.125);
  }
}

.v-row--list-files {
  max-height: 250px;
  overflow-y: auto;
  align-items: center;
}
</style>
