<template>
  <v-dialog
    v-model="dialog"
    max-width="1280"
    min-width="320"
  >
    <template #activator="{ props: activatorProps }">
      <v-avatar
        v-if="thumbnail?.url"
        :image="thumbnail?.url"
        color="grey"
        size="56"
        tile
      />
      <v-text-field
        v-bind="activatorProps"
        :model-value="thumbnail ? 'Imagen seleccionada' : label"
        prepend-inner-icon="mdi-cloud-upload"
        readonly
      />
    </template>

    <v-card
      title="Seleccionar archivo"
      :loading="store.loading"
    >
      <v-card-text>
        <v-container
          v-if="previews.length > 0"
          fluid
          class="mb-4"
        >
          <v-row justify="center">
            <v-badge
              v-for="(preview, i) in previews"
              :key="i"
              color="red"
              location="top-left"
            >
              <template #badge>
                <v-icon
                  icon="mdi-close"
                  @click="files.splice(i, 1)"
                />
              </template>

              <v-avatar
                :image="preview || '/images/states/14.svg'"
                color="grey"
                class="ma-2"
                size="100"
                tile
                rounded="lg"
              />
            </v-badge>

            <v-btn
              icon="mdi-cloud-upload"
              class="ma-2"
              size="100"
              color="primary"
              rounded="lg"
              :disabled="store.loading"
              :loading="store.loading"
              @click="onFileUpload"
            />
          </v-row>
        </v-container>

        <div
          class="v-upload--dropzone"
          :class="{ dragging }"
          @dragstart.stop.prevent=""
          @dragover.prevent="dragging = true"
          @dragleave.prevent="dragging = false"
          @drop.stop.prevent="onFileChange"
        >
          <v-empty-state
            v-if="!store.images?.length"
            image="/images/states/15.svg"
            title="No hay archivos"
            text="Selecciona un archivo o sube uno nuevo"
            style="cursor: pointer;"
            @click="fileInput?.click()"
          />

          <v-container fluid>
            <v-row>
              <v-badge
                v-for="(image, i) in store.images"
                :key="i"
                color="red"
                location="top-left"
              >
                <template #badge>
                  <v-icon
                    icon="mdi-close"
                    @click="store.deleteFile(image.id)"
                  />
                </template>

                <v-avatar
                  :image="image.url"
                  class="ma-2 v-upload--chooser"
                  size="100"
                  tile
                  rounded="lg"
                  :class="{ active: modelValue === image.id }"
                  @click="onChoose(image)"
                />
              </v-badge>
            </v-row>
          </v-container>
        </div>

        <input
          ref="fileInput"
          type="file"
          multiple
          class="v-upload--input"
          :accept="accept"
          @input="onFileChange"
        />
      </v-card-text>

      <v-card-actions>
        <v-spacer />
        <v-btn
          color="primary"
          @click="onCancel"
        >
          Cancel
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script setup>
import { computed, onMounted, ref } from 'vue';
import { useFileStore } from '@/store';

const emit = defineEmits(['cancel', 'update:modelValue']);
const props = defineProps({
  modelValue: { type: Number, default: null },
  label: { type: String, default: 'Vista previa' },
  name: { type: String, default: 'vista previa' },
  accept: { type: String, default: 'image/png,image/jpg,image/jpeg' },
});

const store = useFileStore();
const previews = computed(() => Array.from(files?.value).map(f => URL.createObjectURL(f)));
const fileInput = ref(null);
const dialog = ref(false);
const thumbnail = computed(() => store.images.find(i => i.id === props.modelValue));
const dragging = ref(false);
const files = ref([]);

function onCancel() {
  dialog.value = false;
  emit('cancel');
}

function onFileChange({ dataTransfer = null, target = null }) {
  if (store.loading || (!dataTransfer && !target)) return;
  const eventFiles = dataTransfer?.files || target?.files;

  if (!eventFiles.length) return;

  try {
    files.value = [...files.value, ...Array.from(eventFiles)];
  } finally {
    dragging.value = false;
  }
}

function onChoose(image) {
  dialog.value = false;
  emit('update:modelValue', image.id);
}

async function onFileUpload() {
  if (store.loading) return;

  try {
    await store.uploadFiles(files.value);
  } finally {
    files.value = [];
    await store.fetchFiles();
  }
}

function onRemove() {
  emit('update:modelValue', null);
}

onMounted(async () => {
  await store.fetchFiles();
});
</script>
<style lang="scss">
.v-upload--picker {
  display: inline-flex;
  padding: 8px 12px;
  color: rgba(var(--v-border-color), 0.67);
  border: 1px solid rgba(var(--v-border-color), 0.38);
  border-radius: 4px;
  height: 56px;
  margin: 1px auto;
  margin-bottom: 16px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  animation: border-color 0.3s;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    border-color: rgba(var(--v-border-color), 0.87);
    animation: border-color 0.3s;
  }
}

.v-upload--dropzone {
  border: 1px dashed rgba(var(--v-border-color), 0.38);
  border-radius: 5px;
  user-select: none;

  &.dragging {
    border: 1px solid rgb(var(--v-theme-success));
    background-color: rgba(var(--v-theme-success), 0.125);
  }

  &.error {
    border: 1px solid rgb(var(--v-theme-error));
    background-color: rgba(var(--v-theme-error), 0.125);
  }

  &.file {
    border: 1px solid rgb(var(--v-theme-info));
    background-color: rgba(var(--v-theme-info), 0.125);
  }

  &:hover {
    border-color: rgba(var(--v-border-color), 0.67);
  }
}

.v-upload--chooser {
  &.active {
    box-shadow: 0 0 10px rgb(var(--v-theme-info));
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgb(var(--v-theme-success));
  }
}

.v-upload--input {
  display: none;
  visibility: none;
}
</style>
