<template>
  <VeeForm>
    <ValidatedField
      v-model="user.name"
      name="name"
      label="Nombre"
      rules="required"
      prepend-inner-icon="mdi-account-circle"
    />

    <ValidatedField
      v-model="user.email"
      name="email"
      label="Correo electrónico"
      rules="required"
      prepend-inner-icon="mdi-email"
    />
  </VeeForm>
</template>
<script setup>
import { computed } from 'vue';
import { useAuthStore } from '@/store';

const store = useAuthStore();

const user = computed({
  get() { return store.user; },
  set(value) { store.user = value; },
});
</script>
