<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <h3 class="text-h3">
          Perfil
        </h3>
      </v-col>
    </v-row>

    <v-row class="justify-center">
      <v-col cols="12" md="10">
        <v-tabs v-model="tab" class="mb-8">
          <v-tab rounded="md" value="basicInfo">
            Información personal
          </v-tab>

          <v-tab rounded="md" value="shippingAddress">
            Direcciones de envío
          </v-tab>

          <v-tab rounded="md" value="security">
            Contraseña
          </v-tab>
        </v-tabs>

        <v-tabs-window v-model="tab">
          <v-tabs-window-item value="basicInfo">
            <VeeForm
              v-slot="{ handleReset, meta: { dirty, valid } }"
              slim
            >
              <BasicInfo v-if="tab === 'basicInfo'" />
              <v-card-actions>
                <v-spacer />
                <v-btn
                  color="primary"
                  prepend-icon="mdi-content-save"
                  :disabled="!dirty || !valid || store.loading"
                  :loading="store.loading"
                  @click="save(handleReset)"
                >
                  Guardar
                </v-btn>
              </v-card-actions>
            </VeeForm>
          </v-tabs-window-item>

          <v-tabs-window-item value="shippingAddress">
            <ShippingAddresses v-if="tab === 'shippingAddress'" />
          </v-tabs-window-item>

          <v-tabs-window-item v-if="tab === 'security'" value="security">
            <VeeForm
              v-slot="{ handleReset, meta: { dirty, valid } }"
              slim
            >
              <ValidatedField
                v-model="security.current_password"
                name="current_password"
                :error="errors?.current_password"
                label="Contraseña actual"
                rules="required"
                type="password"
                prepend-inner-icon="mdi-key"
              />

              <v-divider class="my-6" />

              <ValidatedField
                v-model="security.password"
                name="password"
                :error="errors?.password"
                label="Contraseña"
                rules="required|min:8|confirmed:@password_confirmation"
                type="password"
                prepend-inner-icon="mdi-lock"
              />

              <ValidatedField
                v-model="security.password_confirmation"
                name="password_confirmation"
                :error="errors?.password_confirmation"
                label="Confirmación de Contraseña"
                rules="required|confirmed:@password"
                type="password"
                prepend-inner-icon="mdi-lock"
              />

              <v-btn
                color="primary"
                prepend-icon="mdi-content-save"
                :disabled="!dirty || !valid || store.loading"
                :loading="store.loading"
                @click="save(handleReset)"
              >
                Guardar
              </v-btn>
            </VeeForm>
          </v-tabs-window-item>
        </v-tabs-window>
      </v-col>
    </v-row>
  </v-container>
</template>
<script setup>
import BasicInfo from './basicInfo.vue';
import ShippingAddresses from './shippingAddresses.vue';
import { useAuthStore } from '@/store';
import { computed, reactive, ref, watch } from 'vue';

const store = useAuthStore();

const security = reactive({
  current_password: null,
  password: null,
  password_confirmation: null,
});

const tab = ref('basicInfo');
const errors = computed(() => store.errors);

watch(() => tab.value, (updated, old) => {
  if (!updated || !old || updated === old) return;

  if (updated === 'security') {
    security.current_password = null;
    security.password = null;
    security.password_confirmation = null;
  }
}, { immediate: false });

async function save(handleReset) {
  // if (tab.value === 'basicInfo') {
  //   await store.updateProfile(user);
  //   return;
  // }

  // if (tab.value === 'shippingAddress') {
  //   await store.addShippingAddress(shippingAddress);
  //   if (!store.errors?.length) {
  //     shippingAddress.name = null
  //     shippingAddress.address = null
  //     shippingAddress.city = null
  //     shippingAddress.state = null
  //     shippingAddress.zip = null
  //     shippingAddress.country = null
  //     shippingAddress.phone = null
  //     shippingAddress.email = null;

  //     handleReset();
  //   }
  // }

  if (tab.value === 'security') {
    await store.updatePassword(security);
    if (!store.errors?.length) {
      security.current_password = null;
      security.password = null;
      security.password_confirmation = null;

      handleReset();
    }
  }
}
</script>
