<template>
  <v-empty-state
    v-if="!shippingAddresses?.length"
    title="No tienes direcciones de envío"
    description="Agrega una dirección de envío para poder realizar compras."
    action-text="Agregar dirección de envío"
    image="/images/states/39.svg"
    class="my-8"
    @click:action="createDialog = true"
  />

  <template v-else>
    <v-list nav color="primary">
      <v-list-item
        v-for="address in shippingAddresses"
        :key="address.id"
        :title="address.name"
        :subtitle="address.address"
        :active="address.is_default"
        :prepend-icon="address.is_default ? 'mdi-check-circle' : 'mdi-map-marker'"
      >
        <template #append>
          <v-tooltip
            location="top"
            text="Establecer como dirección de envío predeterminada"
          >
            <template #activator="{ props: on }">
              <v-icon
                v-if="!address.is_default"
                v-bind="on"
                icon="mdi-check-circle-outline"
                color="success"
                @click="store.updateShippingAddress({ ...address, is_default: true })"
              />
            </template>
          </v-tooltip>
          <v-tooltip
            location="top"
            text="Establecer como dirección de envío predeterminada"
          >
            <template #activator="{ props: on }">
              <v-icon
                v-bind="on"
                icon="mdi-square-edit-outline"
                @click="onEditAddress(address)"
              />
            </template>
          </v-tooltip>
        </template>
      </v-list-item>
    </v-list>
    <v-btn
      color="primary"
      text
      class="mx-2"
      append-icon="mdi-map-marker-plus"
      @click.prevent="createDialog = true"
    >
      Agregar dirección de envío
    </v-btn>
  </template>

  <v-dialog
    v-model="createDialog"
    max-width="756"
    persistent
  >
    <VeeForm
      v-slot="{ meta: { valid, dirty } }"
      as="v-card"
      title="Agregar una dirección de envío"
    >
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-alert
                type="info"
                text="De momento, sólo tenemos envíos en México."
                density="compact"
              />
            </v-col>
          </v-row>
        </v-container>
        <ShippingAddressForm
          v-if="createDialog"
          v-model="shippingAddress"
        />
      </v-card-text>
      <v-card-actions>
        <v-btn
          color="error"
          @click.prevent="createDialog = false"
        >
          Cancelar
        </v-btn>

        <v-spacer />

        <v-btn
          color="primary"
          :disabled="!valid || !dirty"
          @click.prevent="saveShippingAddress"
        >
          Guardar
        </v-btn>
      </v-card-actions>
    </VeeForm>
  </v-dialog>
</template>
<script setup>
import ShippingAddressForm from './ShippingAddressForm.vue';
import { computed, ref } from 'vue';
import { useAuthStore } from '@/store';

const store = useAuthStore();

const errors = computed(() => store.errors);
const createDialog = ref(false);
const shippingAddresses = computed(() => store.shippingAddresses);
const shippingAddress = ref({
  name: null,
  address: null,
  city: null,
  state: null,
  zip: null,
  country: 'México',
  phone: null,
  email: null,
  is_default: false,
});

async function saveShippingAddress() {
  if (!shippingAddress.value?.id) {
    await store.createShippingAddress(shippingAddress.value);
  }

  if (shippingAddress.value?.id > 0) {
    await store.updateShippingAddress(shippingAddress.value);
  }

  if (Object.keys(errors.value || {})?.length > 0) return;

  createDialog.value = false;
  shippingAddress.value = {
    name: null,
    address: null,
    city: null,
    state: null,
    zip: null,
    country: 'México',
    phone: null,
    email: null,
    is_default: false,
  };
}

function onEditAddress(address) {
  createDialog.value = true;
  shippingAddress.value = address;
}
</script>
