<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="12" lg="12">
        <ValidatedField
          v-model="shippingAddress.name"
          name="name"
          label="Nombre de la dirección"
          rules="required"
          :error="errors?.name"
          placeholder="e.g. Casa, Oficina, etc."
          prepend-inner-icon="mdi-tag"
        />

        <ValidatedField
          v-model="shippingAddress.address"
          name="address"
          label="Dirección"
          rules="required"
          :error="errors?.address"
          placeholder="e.g. Calle, número, colonia, etc."
          prepend-inner-icon="mdi-map-marker"
        />

        <ValidatedField
          v-model="shippingAddress.country"
          name="country"
          label="País"
          rules="required"
          disabled
          prepend-inner-icon="mdi-flag"
        />
      </v-col>

      <v-col cols="12" lg="4">
        <ValidatedField
          v-model="shippingAddress.city"
          name="city"
          label="Ciudad"
          rules="required"
          :error="errors?.city"
          prepend-inner-icon="mdi-city"
        />
      </v-col>
      <v-col cols="12" lg="4">
        <ValidatedField
          v-model="shippingAddress.state"
          name="state"
          label="Estado"
          rules="required"
          :error="errors?.state"
          prepend-inner-icon="mdi-home-city"
        />
      </v-col>

      <v-col cols="12" lg="4">
        <ValidatedField
          v-model="shippingAddress.zip"
          name="código postal"
          label="Código postal"
          rules="required"
          :error="errors?.zip"
          prepend-inner-icon="mdi-numeric"
        />
      </v-col>

      <v-col cols="12" lg="6">
        <ValidatedField
          v-model="shippingAddress.phone"
          name="phone"
          label="Número de teléfono"
          rules="required|phone"
          :error="errors?.phone"
          prepend-inner-icon="mdi-phone"
        />
      </v-col>

      <v-col cols="12" lg="6">
        <ValidatedField
          v-model="shippingAddress.email"
          name="email"
          label="Correo Electrónico"
          rules="email"
          hint="Se usará el correo de la cuenta si no se proporciona uno."
          prepend-inner-icon="mdi-email"
        />
      </v-col>

      <v-col
        v-if="!shippingAddress.id"
        cols="12"
      >
        <v-switch
          v-model="shippingAddress.is_default"
          color="primary"
          label="¿Establecer como dirección predeterminada?"
        />
      </v-col>
    </v-row>
  </v-container>
</template>
<script setup>
import { computed } from 'vue';
import { useAuthStore } from '@/store';

const emit = defineEmits(['update:modelValue']);
const props = defineProps({
  modelValue: { type: Object, required: true },
});

const store = useAuthStore();
const shippingAddress = computed({
  get() { return props.modelValue; },
  set(value) {
    emit('update:modelValue', value);
  },
});

const errors = computed(() => store.errors);
</script>
